.App {
  text-align: center;
  width : 100%;
  height: 100%;
  display: inline-block
}

#root 
{
    display: inline-block;
    height: 626px;
    width: 1366px;
}

.react-resizable-handle
{    
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-grid-item .text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
}

.react-grid-item
{
    
    border: 1px solid;
}

.graphContainer
{
    width: 100%;
    height: 100%;
    display: inline-block;    
}

.dashboardContainer
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%; 
    flex-direction: column;
}