body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.react-resizable-handle
{    
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-color: #dedeef47;
}

.react-grid-item .text {
    font-size: 24px;
    text-align: center;
    margin: auto;
}

.react-grid-item
{    
    border: 1px solid #bbb5b5;
    border-radius : 4px;
    box-shadow: 0 2px 5px grey;
}

.graphContainer
{
    width: 100%;
    height: 100%;
    display: inline-block;    
}


path {
  stroke: steelblue;
  stroke-width: 2px;
  fill: none;
}

.axis {
  stroke: #000;
}

.axis-labels text {
  fill: #000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #000;
}

.gridline {
  opacity: 0.2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.focus .arrow {
  fill: #fe2323;
  stroke: #fe2323;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.react-grid-layout
{
    display: inline-block;
    width: 100%;
    background-color: #F6F6F6;
}
